.logo {
  min-width: fit-content;
  margin-top: 1.5rem;
}

.logo img {
  width: 2.5rem;
  margin-right: 0.5rem;
}

.logo > div {
  display: flex;
  align-items: center;
}

.brand-name{
  font-size: 1.7rem;
}

.logo p {
  font-size: 0.8rem;
  font-family: "Borel";
}
