.btnCartCount {
  width: 50px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1.5rem;
  cursor: pointer;
  right: 1rem;
}

.btnCartCount i{
    transform: rotate(-45deg);
}

.btnCartCount .count{
    position: absolute;
    background-color: red;
    top: -8px;
    left: -9px;
    transform: rotate(-45deg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

/* Standard keyframes */
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #FFE205, 0 0 20px #FFE205, 0 0 25px #FFE205, 0 0 60px #FFE205, 0 0 70px #FFE205, 0 0 80px #FFE205;
  }
}

/* Vendor-prefixed keyframes for older browsers */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #FFE205, 0 0 20px #FFE205, 0 0 25px #FFE205, 0 0 60px #FFE205, 0 0 70px #FFE205, 0 0 80px #FFE205;
  }
}
