.btnAddRemove{
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    border-radius: 100px;
    padding: .3rem;
    cursor: pointer;
    font-size: .6rem;
    background-color: #000;
    color: #fff;
}

.btnAddRemove-positive, .btnAddRemove-negative{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}